* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #de8a89;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

.header_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
}

.header_navbar a {
  text-decoration: none;
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.329);
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 55px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header_navbar a:hover {
  color: #fff;
}

.header_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-right: 93px;
  padding-bottom: 60px;
}

.header_text p {
  color: #fff;
  font-family: sans-serif;
}

.first_text {
  color: #de8a89;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.second_text {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-left: 40px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main_start-btn {
  text-decoration: none;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  position: absolute;
  bottom: -9%;
  left: 19.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px 120px;
  background-color: black;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main_start-btn:hover {
  background-color: #fff;
  color: black;
}

.main a {
  width: 60px;
  height: 55px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.main a:hover {
  background-color: #fff;
  border-radius: 5px;
}

.main_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.274);
  width: 60px;
  height: 55px;
  border-radius: 5px;
}

.main_img img {
  width: 8px;
}

.main_content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3e3c3d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 0px 1px 20px black;
          box-shadow: 0px 1px 20px black;
  border-radius: 5px;
}

.main_content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242223;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 0px 1px 20px black;
          box-shadow: 0px 1px 20px black;
  border-radius: 5px;
}

.main_content-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0f0f0f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 0px 1px 20px black;
          box-shadow: 0px 1px 20px black;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */